                                           Pandas For Data Science

1-)Import pandas`

In [5]:
import pandas as pd
import numpy as np

2-) Create a DataFrame

In [33]:
#from dictionary
data={"Name":["Arun","Bhaggu","Saushu","Nippa",],"Age":[10,20,25,21]}
dataframe=pd.DataFrame(data)
print(dataframe) #columns always get sorted defaultly

#if you want columns in  order
dataframe=pd.DataFrame(data,columns=["Name","Age"])
print(dataframe)

#if you give any column wihich is not present it will give NaN on that column(also happens in index)
dataframe=pd.DataFrame(data,columns=["Name","Age","Salary"]) #Salry column will have NaN
print(dataframe)

#no.s on extreme left are called index

#from numpy
array=np.arange(30).reshape(5,6)
numpy_frame=pd.DataFrame(array,columns=["a","b","c","e","d","f"],index=["n","n1","n2","n3","n4"])
print(numpy_frame)


#from csv

   Age    Name
0   10    Arun
1   20  Bhaggu
2   25  Saushu
3   21   Nippa

     Name  Age
0    Arun   10
1  Bhaggu   20
2  Saushu   25
3   Nippa   21

     Name  Age Salary
0    Arun   10    NaN
1  Bhaggu   20    NaN
2  Saushu   25    NaN
3   Nippa   21    NaN

     a   b   c   e   d   f
n    0   1   2   3   4   5
n1   6   7   8   9  10  11
n2  12  13  14  15  16  17
n3  18  19  20  21  22  23
n4  24  25  26  27  28  29

     a   b   c   e   d   f
n    0   1   2   3   4   5
n1   6   7   8   9  10  11
n2  12  13  14  15  16  17
n3  18  19  20  21  22  23
n4  24  25  26  27  28  29

3-) Get rows and columns

In [21]:
data={"Name":["Arun","Bhaggu","Saushu","Nippa","Hassan","Amir"],"Age":[10,20,25,21,12,13],"State":["U.P.","Bihar","Jharkhand","U.P.","Kabul","Kabul"]}
dataframe=pd.DataFrame(data)
print(dataframe)

#to get any columnm
print(dataframe["Name"]) #this method is most appropriable

print(dataframe.Name)

print(dataframe.head()) #print first 5 rows

print(dataframe.head(3))# can also give no. to show

print(dataframe.columns)#to show te name of columns

print(dataframe.index)#to show index

   Age    Name      State
0   10    Arun       U.P.
1   20  Bhaggu      Bihar
2   25  Saushu  Jharkhand
3   21   Nippa       U.P.
4   12  Hassan      Kabul
5   13    Amir      Kabul

0      Arun
1    Bhaggu
2    Saushu
3     Nippa
4    Hassan
5      Amir

Name: Name, dtype: object
0      Arun
1    Bhaggu
2    Saushu
3     Nippa
4    Hassan
5      Amir

Name: Name, dtype: object
   Age    Name      State
0   10    Arun       U.P.
1   20  Bhaggu      Bihar
2   25  Saushu  Jharkhand
3   21   Nippa       U.P.
4   12  Hassan      Kabul
   Age    Name      State
0   10    Arun       U.P.
1   20  Bhaggu      Bihar
2   25  Saushu  Jharkhand

Index(['Age', 'Name', 'State'], dtype='object')
RangeIndex(start=0, stop=6, step=1)

4-) Assign new values to rows and columns

In [51]:
data={"Name":["Arun","Bhaggu","Saushu","Nippa","Hassan","Amir"],"Age":[10,20,25,21,12,13],"State":["U.P.","Bihar","Jharkhand","U.P.","Kabul","Kabul"]}
dataframe=pd.DataFrame(data)
print(dataframe)

dataframe["Age"]=9 #will change all calues in column in 9
print(dataframe)

# to add a new column
dataframe["Roll_No."]=np.arange(6)
print(dataframe)

#to add  a boolean_array
dataframe["Verify"]=dataframe.State=="Kabul"# dataframe.State=="Kabul" will produce boolean array nand it will be assigned to new column verify
print(dataframe)

#to filter
print(dataframe[dataframe.State=="Kabul"]) #will only show those rows which have State==Kabul 

#to delete a column
del dataframe["Verify"]
print(dataframe)

#to get all values
print(dataframe.values) # it will be a numpy arrray (very important)

#to name index and column
dataframe.index.name="ESE"
dataframe.columns.name="Zindagi"
print(dataframe)

# indices are immutable and can be present in duplicate form
data={"a1":{1:90,2:89,3:60},"b1":{1:67,3:78}} #the value of r2 will be NaN for b1 column
frame=pd.DataFrame(data)
print(frame)

   Age    Name      State
0   10    Arun       U.P.
1   20  Bhaggu      Bihar
2   25  Saushu  Jharkhand
3   21   Nippa       U.P.
4   12  Hassan      Kabul
5   13    Amir      Kabul

   Age    Name      State
0    9    Arun       U.P.
1    9  Bhaggu      Bihar
2    9  Saushu  Jharkhand
3    9   Nippa       U.P.
4    9  Hassan      Kabul
5    9    Amir      Kabul

   Age    Name      State  Roll_No.
0    9    Arun       U.P.         0
1    9  Bhaggu      Bihar         1
2    9  Saushu  Jharkhand         2
3    9   Nippa       U.P.         3
4    9  Hassan      Kabul         4
5    9    Amir      Kabul         5

   Age    Name      State  Roll_No.  Verify
0    9    Arun       U.P.         0   False
1    9  Bhaggu      Bihar         1   False
2    9  Saushu  Jharkhand         2   False
3    9   Nippa       U.P.         3   False
4    9  Hassan      Kabul         4    True
5    9    Amir      Kabul         5    True

   Age    Name  State  Roll_No.  Verify
4    9  Hassan  Kabul         4    True
5    9    Amir  Kabul         5    True

   Age    Name      State  Roll_No.
0    9    Arun       U.P.         0
1    9  Bhaggu      Bihar         1
2    9  Saushu  Jharkhand         2
3    9   Nippa       U.P.         3
4    9  Hassan      Kabul         4
5    9    Amir      Kabul         5

[[9 'Arun' 'U.P.' 0]
 [9 'Bhaggu' 'Bihar' 1]
 [9 'Saushu' 'Jharkhand' 2]
 [9 'Nippa' 'U.P.' 3]
 [9 'Hassan' 'Kabul' 4]
 [9 'Amir' 'Kabul' 5]]

Zindagi  Age    Name      State  Roll_No.
ESE
0          9    Arun       U.P.         0
1          9  Bhaggu      Bihar         1
2          9  Saushu  Jharkhand         2
3          9   Nippa       U.P.         3
4          9  Hassan      Kabul         4
5          9    Amir      Kabul         5

   a1    b1
1  90  67.0
2  89   NaN
3  60  78.0

5-) Advance Functions in DataFrame

In [67]:
#to reindex data
data={"a1":{1:90,2:89,3:60},"b1":{1:67,3:78}}
frame=pd.DataFrame(data)
print(frame)
new=frame.reindex([1,2,3,4])
print(new)
#we can also reindex column also
new=frame.reindex(columns=["a1","b1","c1"])
print(new)
print(new.isnull()) #to find null values in dataframe
#can use loc to reindex both index and columns
new=frame.loc[[1,2,3,4],["a1","b1","c1"]]#unstable
print(new)
#to delete or drop indices or columns at once
new2=new.drop([2,4])#defaultly it will drop rows
print(new2)
print(new)
new2=new.drop(["a1","c1"],axis=1) #to drop columns
print(new2)
#to drop on original dataframe have to use inplace
new.drop(["c1"],axis=1,inplace=True)
print(new) #c1 will be dropped for permanently

   a1    b1
1  90  67.0
2  89   NaN
3  60  78.0
     a1    b1
1  90.0  67.0
2  89.0   NaN
3  60.0  78.0
4   NaN   NaN
   a1    b1  c1
1  90  67.0 NaN
2  89   NaN NaN
3  60  78.0 NaN
      a1     b1    c1
1  False  False  True
2  False   True  True
3  False  False  True
     a1    b1  c1
1  90.0  67.0 NaN
2  89.0   NaN NaN
3  60.0  78.0 NaN
4   NaN   NaN NaN
     a1    b1  c1
1  90.0  67.0 NaN
3  60.0  78.0 NaN
     a1    b1  c1
1  90.0  67.0 NaN
2  89.0   NaN NaN
3  60.0  78.0 NaN
4   NaN   NaN NaN
     b1
1  67.0
2   NaN
3  78.0
4   NaN
     a1    b1
1  90.0  67.0
2  89.0   NaN
3  60.0  78.0
4   NaN   NaN

c:\users\arun rathore\appdata\local\programs\python\python35\lib\site-packages\ipykernel_launcher.py:12: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  if sys.path[0] == '':

6-) Indexing,Selection and Filtering

In [35]:
data={"Name":["Arun","Bhaggu","Saushu","Nippa","Hassan","Amir"],"Age":[10,20,25,21,12,13],"State":["U.P.","Bihar","Jharkhand","U.P.","Kabul","Kabul"]}
dataframe=pd.DataFrame(data)
#get tmore then one column at once
print(dataframe[["Age","Name"]])
#for selecting no. of rows
print(dataframe[:4]) #not include last one
print(dataframe[4:])
#boolean
print(dataframe[dataframe["Age"]<20])
print(dataframe["Age"]<10)
dataframe[dataframe.Age<20]=0
print(dataframe)
#loc and iloc function
data={"Name":["Arun","Bhaggu","Saushu","Nippa","Hassan","Amir"],"Age":[10,20,25,21,12,13],"State":["U.P.","Bihar","Jharkhand","U.P.","Kabul","Kabul"]}
dataframe=pd.DataFrame(data,index=["i1","i2","i3","i4","i5","i6"])
print(dataframe)
print(dataframe.loc["i2"]) #i2 is index 
print(dataframe.loc["i2":])
print(dataframe.loc[["i2","i4"],["Age","state"]])
print(dataframe.loc["i3":,"Age":])

#iloc is used to denote in integer (i for integer)
print(dataframe.iloc[[2,3],[2,0]])
print(dataframe.iloc[2:,1:])
print(dataframe.iloc[4])

#you can also put condition 
print(dataframe.iloc[:,:2][dataframe.Age>20])

   Age    Name
0   10    Arun
1   20  Bhaggu
2   25  Saushu
3   21   Nippa
4   12  Hassan
5   13    Amir
   Age    Name      State
0   10    Arun       U.P.
1   20  Bhaggu      Bihar
2   25  Saushu  Jharkhand
3   21   Nippa       U.P.
   Age    Name  State
4   12  Hassan  Kabul
5   13    Amir  Kabul
   Age    Name  State
0   10    Arun   U.P.
4   12  Hassan  Kabul
5   13    Amir  Kabul
0    False
1    False
2    False
3    False
4    False
5    False
Name: Age, dtype: bool
   Age    Name      State
0    0       0          0
1   20  Bhaggu      Bihar
2   25  Saushu  Jharkhand
3   21   Nippa       U.P.
4    0       0          0
5    0       0          0
    Age    Name      State
i1   10    Arun       U.P.
i2   20  Bhaggu      Bihar
i3   25  Saushu  Jharkhand
i4   21   Nippa       U.P.
i5   12  Hassan      Kabul
i6   13    Amir      Kabul
Age          20
Name     Bhaggu
State     Bihar
Name: i2, dtype: object
    Age    Name      State
i2   20  Bhaggu      Bihar
i3   25  Saushu  Jharkhand
i4   21   Nippa       U.P.
i5   12  Hassan      Kabul
i6   13    Amir      Kabul
    Age  state
i2   20    NaN
i4   21    NaN
    Age    Name      State
i3   25  Saushu  Jharkhand
i4   21   Nippa       U.P.
i5   12  Hassan      Kabul
i6   13    Amir      Kabul
        State  Age
i3  Jharkhand   25
i4       U.P.   21
      Name      State
i3  Saushu  Jharkhand
i4   Nippa       U.P.
i5  Hassan      Kabul
i6    Amir      Kabul
Age          12
Name     Hassan
State     Kabul
Name: i5, dtype: object
    Age    Name
i3   25  Saushu
i4   21   Nippa

c:\users\arun rathore\appdata\local\programs\python\python35\lib\site-packages\ipykernel_launcher.py:19: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike